{% extends "base_admin.html" %}

{% load static %}





{% block dash_title%} Reports {% endblock %}
{% block card_title%} Reports {% endblock %}
{% block card_desc%} here is List of reports {% endblock %}

{% block user_dashboard_block%}



<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Reports</h4>
                        <p class="card-category"> Here is a List of reports</p>
                    </div>
                    <div class="card-body">


                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-info">
                                    <tr>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Date
                                        </th>
                                        <th>
                                            Results
                                        </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            ibrahimha@gmail.com
                                        </td>
                                        <td>
                                            No threats
                                        </td>
                                        <td>
                                            19-September-2019
                                        </td>

                                        <td class="btn btn-info">
                                            View
                                        </td>
                                    </tr>

                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}