<!DOCTYPE html>
{% extends "base.html" %}
{% block body_block%}


<!--
<div class="container" style="padding: 20px;">
        <div class="card" style="padding: 20px;">
        <div class="card-title">
        <h1 class="title" style="text-align: center;">Takad</h1>
    </div>
    <div class="card-body">
        <p style="text-align: center;">Analyze suspicious files and URLs to detect types of malware, automatically share them with the security community</p>
    </div>
<div class="card card-nav-tabs text-center">
    <div class="card-header card-header-primary">
           <span> URL SCAN</span>
    </div>
    <div class="card-body">
      

      <div class="form-group bmd-form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="material-icons">search</i>
                    </div>
                </div>
                <input type="text" placeholder="Search or scan a URL..." class="form-control">
            </div>
        </div>

      <a href="#0" type="submit" class="btn btn-primary">Takad</a>
    </div>
    <div class="card-footer text-muted" style="font-size: 10px;">
            <p style="text-align: center;"> By submitting your file to VirusTotal you are asking VirusTotal to share your submission with the security community and agree to <a href="">our Terms of Service and Privacy Policy</a><a href="http://">Learn more</a>. </p>
    </div>
  </div>
  </div>

</div>

-->



<div class="container" style="padding: 20px;">
  <div class="card">
    <div class="card-header card-header-tabs card-header-success">
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <span class="nav-tabs-title">Scan:</span>
          <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="nav-item">
              <a class="nav-link active show" href="#profile" data-toggle="tab">
                <i class="material-icons">link</i> URL
                <div class="ripple-container"></div>
                <div class="ripple-container"></div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#messages" data-toggle="tab">
                <i class="material-icons">attach_file</i> File
                <div class="ripple-container"></div>
                <div class="ripple-container"></div>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="tab-content">
        <div class="tab-pane active show" id="profile">
          <form class="form-group bmd-form-group" action="/scan_url" method="POST">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="material-icons">search</i>
                </div>
              </div>
              <input type="text" placeholder="Search or scan a URL..." class="form-control">
            </form>
          </div>

          <a href="#0" type="submit" class="btn btn-success">Scan</a>
          <div class="card-footer text-muted" style="font-size: 10px;">
            <p style="text-align: center;"> By submitting your file to VirusTotal you are asking VirusTotal to share
              your submission with the security community and agree to <a href="">our Terms of Service and Privacy
                Policy</a><a href="http://">Learn more</a>. </p>
          </div>
        </div>



        <div class="tab-pane" id="messages">

          <form class="form-group form-file-upload form-file-multiple" action="/scan_file">

            <input type="file" multiple="" class="inputFileHidden">
            <div class="input-group">
              <input type="text" class="form-control inputFileVisible" placeholder="Single File">
              <span class="input-group-btn">
                <button type="button" class="btn btn-fab btn-round btn-success">
                  <i class="material-icons">attach_file</i>
                </button>
              </span>
            </div>
          </form>


          <a href="#0" type="submit" style="align-content: center" class="btn btn-success">Upolad</a>
          <div class="card-footer text-muted" style="font-size: 10px;">
            <p style="text-align: center;"> By submitting your file to VirusTotal you are asking VirusTotal to share
              your submission with the security community and agree to <a href="">our Terms of Service and Privacy
                Policy</a><a href="http://">Learn more</a>. </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
</div>


{% endblock %}