{% extends "base_user.html" %}

{% load static %}





{% block dash_title%} History {% endblock %}
{% block card_title%} History {% endblock %}
{% block card_desc%} here is history {% endblock %}

{% block user_dashboard_block%}



<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title ">History</h4>
            <p class="card-category"> Here is a table with your scans history</p>
          </div>
          <div class="card-body">



            <div class="table-responsive">
              <table class="table">
                <thead class=" text-info">
                  <tr>
                    <th>URL/File</th>
                    <th>Result</th>
                    <th>Date Sacn</th>
                    <th>Actions</th>

                  </tr>
                </thead>
                <tbody>

                  {% if not theUser_ReportsArray %}
                  <h2 class=" text-danger">
                    Your Histroy is Empty
                  </h2>
                  {% endif %}

                  {% for theOneByOneReport in theUser_ReportsArray %}

                  <tr>
                    <td class="text-justify" >{{theOneByOneReport.dict_report.url }}</td>
                    <td> 
                      <h3> 
                        <span
                        class="badge badge-warning badge-pill badge-lg">{{theOneByOneReport.dict_report.positives }}
                      </span>
                      </h3>
                    </td>
                    <td>{{theOneByOneReport.dict_report.scan_date }}</td>

                    <td>
                      <div class="row col container">
                      <form action="ReportDetails/{{theOneByOneReport.id}}" method="post">
                        {% csrf_token %}
                        <button type="submit" name="theReport_ID" class="btn btn-info">view</button>
                      </form>

                      <form action="ReportDetailsDelete/{{theOneByOneReport.id}}" method="post">
                        {% csrf_token %}
                        <button type="submit" name="theReport_ID" class="btn btn-danger">DELETE</button>
                      </form>
                    </div>
                      
                    </td>
                  </tr>

                  {%endfor%}




                </tbody>

              </table>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}